*/obj/*
**/bin/**
*/Debug/*
*/Release/*
*/packages/*
**/packages/**
**/obj/**
**/csx/**
**/rcf/**
**/node_modules/**
**/bower_components/**
*.csproj.user
*.ccproj.user
*.suo
*/target/*
**/pkg/**
**/pkgobj/**
web-workspace

